# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python

# Django stuff:
*.log

# Env
.DS_Store
*.swp
.env/
.idea/
node_modules
celeryd.pid
celerybeat-schedule*
celerybeat.pid
dump.rdb

# Project
*/local_settings.py
templates/index.html
*/_ecs_region.json
.python-version
logs/
.local/
deploy/static/
.ipynb_checkpoints/
weights
